body { background-image: url(https://blog.ucq.edu.mx/hubfs/iStock-832282452.jpg#keepProtocol);
      background-size: cover;
      margin-left: 0px;
      
      

}

h1   { 
      
      text-align: center;
      font-family: 'Alfa Slab One', cursive;
      color: rgb(8, 6, 6);
      font-size: 60px;
      border-radius: 15px;
      width: 650px;
      margin: auto;
      opacity: 80%;
      background: -webkit-linear-gradient(top, rgb(2, 82, 136), hsl(0, 0%, 100%), rgb(156, 208, 243));
      font-weight: 600;
}

.navegacion {
            width: 1000px;
            margin:10px auto ;
            background-color: #1d9ac0;
            
   }



    
ul a { 
       width: 10%;
       font-size: 20px;
       color: rgb(247, 247, 247);
}
.menu > li {
      position: relative;
      display: inline-block;
      width: 13%;
      text-decoration: none;
      height: 40px;
      padding-top: 10px ;;
      text-align: center;
      z-index: 1;
      list-style: none;
}



.submenu > li {
      border: solid;
      width: 100%;
      height: 30px;
      background-color: #010203;
      padding: 9px 8px;
      opacity: 100%;
      
      
}


.menu li:hover {
      background-color: #69a04a;

}
.menu > li:hover .submenu {
      display: block;
}

.submenu {
             display: none;
             z-index: 1;
             position: absolute;
             margin-top: 20px;
            
             list-style: none;
}
main { 
     
     opacity: 100%;
     width: 100%;
     display: inline-flex;
     
    }



 
    main div {  background-color: #1d9ac0;
      width: 20%;
      height: 100%;
      margin-top: 70px;
      opacity: 80%;
      list-style: none;
     
     
}

div ul a {
      list-style: none;
      text-decoration: none;
      margin-left: 20px;
      
      
}
main section {
              columns: 1; 
              margin-top: 20px;
              padding-top: 30px;
              padding-bottom: 20px;
              padding-left: 20px;
              width: 75%;
              opacity: 100%;
    }
.articulo { 
             
             
            
             padding-left: 30px;
             background-color: #9dd8fa;
             opacity: 60%;
             margin-top: auto;
             height: 100%;
             padding-bottom: 30px;
             padding-right: 30px;
             
            }

 main section article h3 {
         font-family: 'Shadows Into Light', cursive;
 }   

 aside {
        background-color: #5caed4;
        width: 20%;
        height: 100%;
        border-radius: 13px;
        font-family: 'Shadows Into Light', cursive;
        float:right;
        padding-top: 40px;
        margin-top: 60px;
        margin-left: 10px;

 }

 aside h3 {
       text-align: center;
      
      }
aside a { text-decoration: none;
         color: #000000;    
              
}

 div { 
      
       padding-left: 30px;
       margin-bottom: 20px;
       margin-top: 20px;
       margin-left:auto;
       
       

 }

 div h2 {  text-align: center;
    font-family: 'Shadows Into Light', cursive;

 }

 #comentarios { 
       color: blanchedalmond;
       border: solid;}


 
  
footer {
        background-color: hsl(209, 71%, 59%);
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        width: 450px;
        margin: auto;
        border-radius: 14px;
        opacity: 100%;
        text-decoration: none !important;
}
footer ul li {
              display: inline;
              
              
            }
